
@import './variables';

.alert{
    background-color: $primary-color;
    padding:3rem;
    border-radius: none;
    text-align: center;
    color: $primary-white;
}

/*Navigation*/
.nav{
    padding : 1rem 2rem;

    &__logo{
        background-color: $primary-color;
        padding:2px;
        border-radius: 5px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50rem;
        align-self:center;
        
        &-item{

        
        &:not(:last-child){
            margin-right: 20px;
        }
        &-link{
            text-decoration: none;
            color:$primary-dark
        }
    }
    }
}
.login_buttons{
    padding:5px 10px;
}
.btn{

    border:none;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    min-width: 80px;
    color: $primary-dark;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &__primary{
        background-color: $primary-color;
        margin-left: 20px;;
    }

}
.heading{
    &__primary{
        text-transform: capitalize;
        font-size: 3rem;

        &-large{
            line-height: 1.7;
            position: relative;
            width:fit-content;
            transform: translate(30%,0%);
            padding:25px;

            &::before{
                content:"";
                position: absolute;
                top:1.2rem;
                left:0;
                display: block;
                width: 40px;
                height: 40px;
                background-image: url('../../../src/img/abstracr-line.png');

            }
        }
    }
    &__secondary{
        text-transform: capitalize;
        font-weight:400;

    }
}
.intro{
    display: flex;
    border-bottom: 1px solid $light-gray;
    padding:4rem 8rem;

    &>div{
        width:50%;
    }
}
.hero{
    margin:4rem 4rem;
    height: 70vh;
    background-image: url('../../../src/img/banner-2.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    overflow: hidden;
    border-radius: 10px;

}
.grid-container{
    background-color: #eee;
    padding:4rem 8rem;
    display: grid;
    grid-template-columns: repeat(2,40%);
    justify-content: center;
    justify-items: center;
    gap: 30px;
    
}
.card{
    background-color: $primary-white;
    width: fit-content;
    padding:1.7rem;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__heading{
        text-align: end;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    &__sub-heading{
        padding:1.5rem;
    }
    &__listing{
        padding:1.5rem;
    }
    &__list{
        list-style: none;
         
        &-item{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:2rem 1rem;
            outline: 1px solid $primary-color;
            margin: 20px 10px;
            border-radius: 5px;
            box-shadow: rgba($primary-color, 0.1) 0px 8px 24px;

        }
    }
    &__details{
        display: flex;
        justify-content: space-between;
        font-size: 70%;
    }
}
.dark-bg{
    background-color: #eee;
    padding:5px 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before{
        content: "";;
        width: 10px;
        height: 10px;
        background-image: url('../../../src/img/clock.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -5px;
        
    }
}
.active-bg{
    background-color: $primary-color;
    opacity:0.7;
}
.header{

    &__section{

        text-align: center;
    }
    &__container{

        padding:4rem 8rem;
    }
    &__buttons{

        padding:2rem;
        display: flex;
        justify-content: center;
        gap:2rem;
    }
}
.light-text{

    color:$primary-color;
    position: relative;


    &::before{
        content: "";
        width:30px;
        height: 30px;
        background-image: url('../../../src/img/header-icon.png');
        top:0;
        left:0;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba($primary-color, 0.2);
        padding: 1.2rem;
        border-radius: 3px;
        margin-right: 1rem;
        
        
    }

}
.client{

    display: flex;
    justify-content: center;
    padding:4rem;
    background-color: $primary-white;
    

    &__list{
        list-style: none;
        display: flex;
        gap:4rem;
        
    }
    
}
